*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #a1a1a1;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.daniel{
    width: 40vw;
    height: 40vh;
    background: #704270;
    border-radius: 30px;
}
.daniel .img{
    position: absolute;
    left: 3%;
}
.daniel .img img{
    width: 50px;
    height: 50px;
    border: 5px solid #8a458a;
    border-radius: 50%;
}
.daniel .title{
    color: #fff;
    font-size: 20px;
    top: 4px;
    position: absolute;
    left: 12%;
}
.daniel .gray{
    color: #fff;
    font-size: 10px;
    top: 30px;
    position: absolute;
    left: 12%;
}
.daniel .h1{
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 20px;
    color: #fff;
}
.daniel .paragraphe{
    position: absolute;
    top: 150px;
    left: 2%;
}
.daniel .paragraphe p{
    color: #fff;
    font-size: 15px;
    opacity: 0.2;
}