* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Barlow;
    src: url(./Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf);
}

body {
    background: #D9E0E6;
    font-family: Barlow;
    font-size: 13px;
    user-select: none;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {

    /* display: grid;
    grid-column: 1/9;
    grid-row: 1/9; */
    padding: 2em;
    border-radius: 5px;
}

.daniel {
    width: 40vw;
    height: 40vh;
    background: #733FC8;
}

.svg {
    position: absolute;
    top: 0;
    right: 10%;
    opacity: 0.5;
}

.img {
    display: inline-block;
}

.img img {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
}

.title {
    display: inline-block;
    color: #fff;
    padding: 10px;
    position: relative;
    top: 0;
}

.title p {
    opacity: 0.5;
}

.h1 h1{
    font-size: 20px;
    color: #fff;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.paragraphe p {
    padding: 10px;
    font-size: 10px;
    color: #fff;
    opacity: 0.5;
}
 .joni{
    background-color: gray;
}

@media (max-width: 970px){
    .container{
        width: 100%;
        position: relative;
    }
    .card{
        height: auto;
        width: 90%;
        margin: auto;
        margin-top: 1em;
    }
     .paragraphe p{
         font-size: 15px;
         margin: 25px 0;
     }
     .h1 h1{
         margin: 25px 0;
         font-size: 25px;
     }
}